.App {
  text-align: center;
}

#table-container {
  display: flex;
  flex-direction: column;
  border: solid #ffc600;
}

#table-column {
  width: 20%;
}

#table-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#add-expense-button {
  margin-bottom: 2em;
}

.form-control {
  width: 40%;
  margin-left: 30%;
}